<main class="container flex-grow flex flex-col items-center justify-center m-auto">
    <div class="flex flex-col text-center items-center">
        <h1 class="sudokemon mb-3">App Coming Soon!</h1>
        <img src="assets/img/pokeball.png" class="pokeball mb-3" alt="Sudokémon Logo">
        <div class="pokemon-card"></div>
    </div>
</main>